

note /* :root{
  --primary-color: #fd17e14;
  --dark:#0000ff;
  --paul:rgb(0, 16, 0);
}

.text-color{
  color:var(--primary-color)

}

then if u come ti the html u just have to caall lets say <section class="text color" */








/* .home {
  background-image: url("img/pexels-luis-quintero-2294873.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
} */
